<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:section name="main">
        <f:render partial="Header" section="logo" arguments="{_all}" />
        <f:render partial="Navigation" section="main" arguments="{menu: mainNavigation}" />
        <f:render partial="Navigation" section="meta" arguments="{menu: metaNavigation}" />
        <f:render partial="Navigation" section="language" arguments="{languageNavigation: languageNavigation}" />
        {head -> f:format.raw()}
    </f:section>

    <f:section name="logo">
        <f:link.typolink class="page-header-logo" parameter="{settings.logo.link}"><!--
            --><f:image src="{settings.logo.path}" alt="{settings.logo.title}" width="100" /><!--
        --></f:link.typolink>
    </f:section>
</html>
