<div id="logo">
    <f:format.raw><f:cObject typoscriptObjectPath="lib.logo" /></f:format.raw>
</div>
<f:if condition="{metaNavigation}">
    <div id="metaNavigation">
        <f:format.raw><f:cObject typoscriptObjectPath="lib.metaNavigation" /></f:format.raw>
    </div>
</f:if>
<nav id="mainNavigation">
    <f:format.raw><f:cObject typoscriptObjectPath="lib.mainNavigation" /></f:format.raw>
</nav>
<f:if condition="{languageNavigation}">
    <nav id="languageNavigation">
        <f:format.raw><f:cObject typoscriptObjectPath="lib.languageNavigation" /></f:format.raw>
    </nav>
</f:if>
<f:if condition="{socials}">
    <div id="socials">
        <f:format.raw><f:cObject typoscriptObjectPath="lib.socials" /></f:format.raw>
    </div>
</f:if>