<div id="logo">
    <f:format.raw>{logo}</f:format.raw>
</div>
<f:if condition="{metaNavigation}">
    <div id="metaNavigation">
        <f:format.raw>{metaNavigation}</f:format.raw>
    </div>
</f:if>
<nav id="mainNavigation">
    <f:format.raw>{mainNavigation}</f:format.raw>
</nav>
<f:if condition="{languageNavigation}">
    <nav id="languageNavigation">
        <f:format.raw>{languageNavigation}</f:format.raw>
    </nav>
</f:if>
<f:if condition="{socials}">
    <div id="socials">
        <f:format.raw>{socials}</f:format.raw>
    </div>
</f:if>